/* Hero Section */

.hero {
    width: 100%;
    height: 845px;
    display: grid;
    grid-template-areas: "hero-body hero-img";
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-body {
    padding: 0px 80px;
}

.hero-img {
    width: 100%;
    height: 100%;
}

.hero-img img {
    width: 100%;
    height: 100%;
}

.hero-text {
    font-size: 56px;
    line-height: 80px;
    font-weight: 400;
    padding: 40px 0px;
}

h1.hero-text span {
    font-weight: 700;
}

/* Sub-Page Hero Section */

.sub-page-hero {
    width: 100%;
    height: 420px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 50px 0px;
}

.sub-hero-body .hero-text {
    font-size: 48px;
    margin-left: 30px;
}

.hero-video iframe{
    background-color: var(--accent-color);
    width: 700px;
    height: 400px;
    margin-left: 80px;
}

/* Info + CTA Section */

.body-section-1 {
    height: 700px;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.info-boxs-section {
    margin: 0px 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.info-boxs-section .info-cta .info-text {
    line-height: 30px;
    margin: 32px 0px;
}

.body-section-1 .hero-text {
    font-size: 48px;
    margin-left: 80px;
}

.info-avatar-img img {
    background-color: black;
    width: 108px;
    height: 108px;
    border-radius: 100px;
}

.info-title .body-title {
    margin-top: 40px;
}

/* Contact Section */

.contact-section {
    height: 861px;
    text-align: center;
    border: solid 1px black;
    align-items: center;
    align-content: center;
}

.body-text {
    font-size: 36px;
    margin-bottom: 50px;
}

.contact-section .hero-text {
    font-size: 48px;
}

.contact-form {
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 439px;
    grid-area: contact-form;
    padding: 20px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "firstname lastname"
    "companyname"
    "email"
    "message";
    text-align: start;
}

.contact-form input {
    padding: 10px;
}

.contact-form input[type="submit"] {
    color: white;
    background-color: var(--accent-color);
    outline: none;
    border: none;
    border-radius: 6px;
}

.contact-form .set input{
    margin-right: 10px;
}

.form-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". contact-form .";

}

/* Testimonial Section */
.testimonial-section {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    height: 470px;
    margin-left: 50px;
    align-content: center;
}

.testimonial-section .hero-text {
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
}

.testimonial-img {
    align-items: center;
    align-content: center;
}

.testimonial-img img{
    width: 50%;
    justify-self: center;
}