/* Navbar */
header {
    padding: 20px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
    font-size: 20px;
    width: 5%;
    height: 5%;
    margin-right: 125px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 10px 0px 0px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: var(--accent-color);
}

.phone {
    font-weight: 500;
    padding: 0px 10px 0px 0px;
    display: inline-block;
}

/* Footer */

footer {
    justify-content: center;
}

.footer-links {
    list-style: none;
}

.footer-links li {
    padding: 0px 40px 0px 0px;
    display: inline-block;

    font-weight: Bold;
    font-size: 15;
}

.footer-links li a {
    transition: all 0.3s ease 0s;
}

.footer-links li a:hover {
    color: var(--acent-color);
}

/* HERO SECTION */

.hero {
    width: 100%;
    height: 860px;
    display: grid;
    grid-template-areas: "hero-body hero-img";
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-body {

}

.hero-img {

}

.hero-text {
    font-size: 56px;
}