/* Utilities */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --main-color:#000000; /* used for backgrounds, etc. plain white */
    --secondary-color:#F2F2F2; /* used for darker accents */
    --accent-color: #003A83; /* use for accents of blue */
    /* var(--var-name) */
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: var(--main-color);
    font-family: 'Montserrat', sans-serif;
}

.cta-btn {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    background-color: var(--accent-color);
    border-radius: 25px;
    color: var(--secondary-color) !important;
    padding: 10px 10px;
}

.cta-btn:hover {
    opacity: 0.8;
}

.cta-link {
    transition: all 0.3s ease 0s;
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 700;
}

.cta-link:hover {
    opacity: 0.8;
}

li, a, button {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}


.body-title {
    font-weight: 700;
    font-size: 24px;
}