<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Affiliations</title>
    <link rel="shortcut icon" href="../imgs/150_USFS_Logo_150.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../utilities.css">
    <link rel="stylesheet" href="../sections.css">
</head>
            
<body>
    <!-- Header Section -->
    <header>
        <!-- Logo -->
        <img class="logo" src="../imgs/150_USFS_Logo_150.jpg" alt="logo">

        <!-- Middle Nav Links -->
        <nav>
            <ul class="nav-links">
                <li><a href="">Our Services</a></li>
                <li><a href="">Company Profiles</a></li>
                <li><a href="affiliations.html">Our Affiliations</a></li>
                <li><a href="whyus.html">Why us?</a></li>
            </ul>
        </nav>
        
        <!-- Right Nav Links -->
        <ul class="nav-links">
            <li>(614) 920-1635</li>
            <li><a href="" class="cta-btn">Enroll Now</a></li>
        </ul>
    </header>

    <!-- Affiliations Section -->
    <div class="affiliations-section">
        <div class="affiliations-top-section">
            <h1 class="hero-text">Our <span>Affiliations</span></h1>
            <p class="sub-hero-text">As independent financial services representatives, the associates at Union Square Financial Services, LLC strive to help their clients fulfill their goals and objectives with products and services from a wide range of vendors.  Each member of the firm accepts this responsibility with several thoughts in mind:</p>        
        </div>

        <div class="affiliations-grids">
            <div class="affiliation-grid">
                <h1>We build relationships by listening to our clients.</h1>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</p>
            </div>
            <div class="affiliation-grid">
                <h1>Our experience is put to work for you.</h1>
                <p>Amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
            </div>
            <div class="affiliation-grid">
                <h1>We offer more than just products; We provide solutions.</h1>
                <p>Consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam.</p>
            </div>
            <div class="affiliation-grid">
                <h1>We are your financial services partner.</h1>
                <p>Eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
            </div>
        </div>
    </div>

    <!-- Get Started CTA Section -->
    <div class="getstarted-section">
            <div class="start-question-titles">
                <p class="getstarted-title-bold">Ready To Get Started?</p>
                <p class="getstarted-title">Get A Quote Today</p>
            </div>
            <div class="start-ctas">
                <a href="" class="cta-btn">Get A Quote</a>
                <a href="" class="contact cta-btn">Contact Us</a>
            </div>
        </div>

    <!-- Footer Section -->
    <footer>
        <!-- Left Links -->
        <nav>
            <ul class="footer-links">
                <li><a href="#">Mobile App</a></li>
                <li><a href="#">Community</a></li>
                <li><a href="#">Company</a></li>
            </ul>
        </nav>

        <!-- Logo -->
        <img class="logo" src="../imgs/150_USFS_Logo_150.jpg" alt="logo">

        <!-- Right Links -->
        <nav>
            <ul class="footer-links">
                <li><a href="#">Help Desk</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Resources</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>