<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="shortcut icon" href="../imgs/150_USFS_Logo_150.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../utilities.css">
    <link rel="stylesheet" href="../sections.css">
</head>

<body>
    <!-- Header Section -->
    <header>
        <!-- Logo -->
        <img class="logo" src="../imgs/150_USFS_Logo_150.jpg" alt="logo">

        <!-- Middle Nav Links -->
        <nav>
            <ul class="nav-links">
                <li><a href="">Our Services</a></li>
                <li><a href="">Company Profiles</a></li>
                <li><a href="">Our Affiliations</a></li>
                <li><a href="whyus.html">Why us?</a></li>
            </ul>
        </nav>
        
        <!-- Right Nav Links -->
        <ul class="nav-links">
            <li>(614) 920-1635</li>
            <li><a href="" class="cta-btn">Enroll Now</a></li>
        </ul>
    </header>

    <!-- Hero Section -->
    <div class="hero">
        <!-- Left Hero Body -->
        <div class="hero-body">
            <h1 class="hero-text">Finally, An Insurance Company that <span>Listens.</span></h1>
            <a href="#" class="cta-btn">Get a quote today</a>
        </div>

        <!-- Right Hero Image -->
        <div class="hero-img">
            <img src="https://images.pexels.com/photos/3760067/pexels-photo-3760067.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="Hero Img">
        </div>
    </div>

    <!-- Sub-hero Section -->
    <div class="sub-page-hero">
        <!-- Sub-Hero Video -->
        <div class="hero-video">
            <iframe src="https://www.youtube.com/embed/ofUOATVjKF0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <!-- Sub-hero Body -->
        <div class="sub-hero-body">
            <h1 class="hero-text">Learn what Union Square Financial Services Has To Offer</h1>
        </div>
    </div>

    <!-- Body Section 1-->
    <div class="body-section-1">
        <!-- Title -->
        <div class="body-section-1-title">
            <h1 class="hero-text">A Company Thats <br>Interested In <span>You.</span></h1>
        </div>

        <!-- Info + CTA -->
        <div class="info-boxs-section">
            <div class="info-cta">
                <div class="info-avatar-img">
                    <img src="https://images.pexels.com/photos/7918293/pexels-photo-7918293.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="info avatar image">
                </div>
    
                <div class="info-title">
                    <p class="body-title">Life, Health & Disability</p>
                </div>
    
                <div class="info-text">
                    <p>Every person needs to protect himself and his loved ones from the economic catastrophe that could occur with the loss of his income and/or earnings potential.
                    Union Square Financial Services, LLC has the tools to help quantify and protect this most important asset.</p>
                </div>
    
                <div class="cta">
                    <a href="#" class="cta-link">
                        Learn More
                    </a>
                </div>
            </div>
    
            <div class="info-cta">
                <div class="info-avatar-img">
                    <img src="https://images.pexels.com/photos/6994870/pexels-photo-6994870.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="info avatar image">
                </div>
    
                <div class="info-title">
                    <p class="body-title">Property & Liability</p>
                </div>
    
                <div class="info-text">
                    <p>Protect yourself against lawsuits and the loss of your most important personal possessions.
                    Union Square Financial Services LLC can help you estimate the value of your property and find ways to secure your personal property with insurance protection.</p>
                </div>
    
                <div class="cta">
                    <a href="#" class="cta-link">
                        Learn More
                    </a>
                </div>
            </div>
    
            <div class="info-cta">
                <div class="info-avatar-img">
                    <img src="https://images.pexels.com/photos/8441854/pexels-photo-8441854.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="info avatar image">
                </div>
    
                <div class="info-title">
                    <p class="body-title">Financial Planning</p>
                </div>
    
                <div class="info-text">
                    <p>Our Financial Planning system is a continuous process of managing your financial problems.
                    Union Square Financial Services helps you reach your financial goals easier.
                    We can suggest ways for you to achieve your goals and fulfill your personal wants and desires.</p>
                </div>
    
                <div class="cta">
                    <a href="#" class="cta-link">
                        Learn More
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Section -->
    <div class="contact-section">
        <h1 class="hero-text">Ready To Receive A Quote Today?</h1>

        <p class="body-text">We can help you reach your insurance and financial goals.<br> 
        Complete the form below and you will be contacted in 1-2 business days.</p>

        <div class="form-section">
            <form action="" class="contact-form" name="contact-form">
                <h1 class="body-title">Receive Your Quote Today</h1>
                <div class="inputs">
                    <input type="text" placeholder="First Name" id="firstname">
                    <input type="text" placeholder="Last Name" id="lastname">
                    <input type="text" placeholder="Company Name (Optional)" id="companyname">
                    <input type="text" placeholder="Email Address" id="email">
                    <textarea placeholder="Tell Us Your Plans" id="message"></textarea>
                </div>
                <input type="submit"  class="cta-btn" value="Send">
            </form>
        </div>
    </div>

    <!-- Testimonial Section -->
    <div class="testimonial-section">
        <div class="testimonial">
            <h1 class="hero-text">“Individual clients are an important part of the practice.  The firm helps individuals in all walks of life and at various stages of their life’s journey.”</h1>
            <p class="testimonial-author">JOHN D. PYSARCHUK, CLU</p>
        </div>

        <div class="testimonial-img">
            <img src="http://www.unionsquarefinancialservices.com/images/125_John_Headshot_125.jpg" alt="Picture Of JOHN D. PYSARCHUK">
        </div>
    </div>
    
    <!-- Footer Section -->
    <footer>
        <!-- Left Links -->
        <nav>
            <ul class="footer-links">
                <li><a href="#">Mobile App</a></li>
                <li><a href="#">Community</a></li>
                <li><a href="#">Company</a></li>
            </ul>
        </nav>

        <!-- Logo -->
        <img class="logo" src="../imgs/150_USFS_Logo_150.jpg" alt="logo">

        <!-- Right Links -->
        <nav>
            <ul class="footer-links">
                <li><a href="#">Help Desk</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Resources</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>