<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../utilities.css">
    <link rel="stylesheet" href="../sections.css">
</head>

<body>
    <!-- Header Section -->
    <header>
        <!-- Logo -->
        <img class="logo" src="../imgs/150_USFS_Logo_150.jpg" alt="logo">

        <!-- Middle Nav Links -->
        <nav>
            <ul class="nav-links">
                <li><a href="">Our Services</a></li>
                <li><a href="">Company Profiles</a></li>
                <li><a href="">Our Affiliations</a></li>
                <li><a href="">Why us?</a></li>
            </ul>
        </nav>
        
        <!-- Right Nav Links -->
        <ul class="nav-links">
            <li>(614) 920-1635</li>
            <li><a href="" class="cta-btn">Enroll Now</a></li>
        </ul>
    </header>

    <!-- Hero Section -->
    <div class="hero">
        <!-- Left Hero Body -->
        <div class="hero-body">
            <h1 class="hero-text">Finally, An Insurance Company that <span>Listens.</span></h1>
            <a href="#" class="cta-btn">Get a quote today</a>
        </div>

        <!-- Right Hero Image -->
        <div class="hero-img">
            <img src="https://images.pexels.com/photos/3760067/pexels-photo-3760067.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="Hero Img">
        </div>
    </div>

    <!-- Sub-hero Section -->
    <div class="sub-page-hero">
        <!-- Sub-Hero Video -->
        <div class="hero-video">
            <iframe src="https://www.youtube.com/embed/ndJkRjwulf0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <!-- Sub-hero Body -->
        <div class="sub-hero-body">
            <h1 class="hero-text">Learn what Union Square Finincial Services Has To Offer</h1>
        </div>
    </div>
    
    <!-- Footer Section -->
    <footer>
        <!-- Left Links -->
        <ul class="footer-links">
            <li><a href="">Mobile App</a></li>
            <li><a href="">Community</a></li>
            <li><a href="">Company</a></li>
        </ul>

        <!-- Logo -->
        <div class="logo">
            <img src="../imgs/150_USFS_Logo_150.jpg" alt="logo">
        </div>

        <!-- Right Links -->
        <ul class="footer-links">
            <li><a href="">Help Desk</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Resources</a></li>
        </ul>
    </footer>
</body>
</html>