<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Why Choose Us?</title>
        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet" href="../utilities.css">
        <link rel="stylesheet" href="../sections.css">
    </head>

    <body>
        <!-- Header Section -->
        <header>
            <!-- Logo -->
            <img class="logo" src="../imgs/150_USFS_Logo_150.jpg" alt="logo">

            <!-- Middle Nav Links -->
            <nav>
                <ul class="nav-links">
                    <li><a href="">Our Services</a></li>
                    <li><a href="">Company Profiles</a></li>
                    <li><a href="">Our Affiliations</a></li>
                    <li><a href="whyus.html">Why us?</a></li>
                </ul>
            </nav>
            
            <!-- Right Nav Links -->
            <ul class="nav-links">
                <li>(614) 920-1635</li>
                <li><a href="" class="cta-btn">Enroll Now</a></li>
            </ul>
        </header>

        <!-- Feature & Quote Section -->
        <div class="feature-quote-right-section">
            <div class="feature-video-section">
                <iframe src="https://www.youtube.com/embed/ofUOATVjKF0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="quote-section">
                <h1 class="hero-text">Why Choose Us?</h1>
                <p>A respect for personal values.  A willingness to exchange ideas.  Support for new ways of doing business. All of these are ideals for which we strive.</p>
                <div class="quote-details">
                    <p class="quote-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class="author">
                        <img src="https://m.media-amazon.com/images/I/61bPaYHVgYL._SS500_.jpg" alt="" class="avatar-img">
                        <p class="quote-author">Dhaka Oke, Product Designer</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Get Started CTA Section -->
        <div class="getstarted-section">
            <div class="start-question-titles">
                <p class="getstarted-title-bold">Ready To Get Started?</p>
                <p class="getstarted-title">Get A Quote Today</p>
            </div>
            <div class="start-ctas">
                <a href="" class="cta-btn">Get A Quote</a>
                <a href="" class="contact cta-btn">Contact Us</a>
            </div>
        </div>

        <!-- Footer Section -->
        <footer>
            <!-- Left Links -->
            <nav>
                <ul class="footer-links">
                    <li><a href="#">Mobile App</a></li>
                    <li><a href="#">Community</a></li>
                    <li><a href="#">Company</a></li>
                </ul>
            </nav>

            <!-- Logo -->
            <img class="logo" src="../imgs/150_USFS_Logo_150.jpg" alt="logo">

            <!-- Right Links -->
            <nav>
                <ul class="footer-links">
                    <li><a href="#">Help Desk</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Resources</a></li>
                </ul>
            </nav>
        </footer>
    </body>
</html>